<div class="container">
  <form class="formulario">
    <div class="row md-3">
      <div class="col">
        <label for="inputPesquisa" class="visually-hidden">Pesquisar</label>
        <input
          class="form-control"
          id="inputPesquisa"
          placeholder="Pesquisar"
          [(ngModel)]="textoPesquisa"
          name="pesquisa"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col-md-auto">Nome</th>
              <th scope="col-md-auto">Data de Nascimento</th>
              <th scope="col-md-auto">Escolaridade</th>
              <th scope="col-md-auto">Email</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.name }} {{ usuario.lastName }}</td>
              <td>{{ usuario.birthDate | date: "shortDate" }}</td>
              <td>{{ usuario.schooling }}</td>
              <td>{{ usuario.email }}</td>
              <td>
                <button (click)="removerUsuario()" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </td>
              <td>
                <button (click)="editarUsuario()" class="btn btn-success">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
