<div class="container">
  <form class="formulario">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Nome</th>
              <th class="col-md-3">Data de Nascimento</th>
              <th class="col-md-1">Escolaridade</th>
              <th class="col-md-3">Email</th>
              <th colspan="2" class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.nome }} {{ usuario.sobrenome }}</td>
              <td>{{ usuario.dataNascimento | date: "shortDate" }}</td>
              <td>{{ usuario.escolaridade }}</td>
              <td>{{ usuario.email }}</td>
              <td>
                <button (click)="removerUsuario(usuario.id)" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </td>
              <td>
                <button (click)="visualizarDetalhes(usuario)" class="btn btn-success">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
            <tr *ngIf="usuarios.length <= 0" class="listaVazia">
              <td colspan="6">Sem Informações Para Exibir</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
